{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</head>
<body>

<div class="ui right sidebar inverted vertical menu">
    <div class="item">
        <a href="/" class="ui logo icon image">
            <img src="{% static 'images/school.png' %}" alt="logo" class="ui image"/>
        </a>
        <a href="/" class="ui logo title"> 慕课数据统计分析 </a>
    </div>
    <div class="item">
        <a href="/">
            <i class="home icon"></i>
            返回首页
        </a>
    </div>
    <div class="item">
        <a href="/hot">
            <i class="fire icon"></i>
            关注排行
        </a>
    </div>
    <div class="item">
        <a href="/grading">
            <i class="line chart icon"></i>
            高分课程
        </a>
    </div>
    <div class="item">
        <a href="/region">
            <i class="world icon"></i>
            地域分布
        </a>
    </div>
    <div class="item">
        <a href="/recommend">
            <i class="student icon"></i>
            课程推荐
        </a>
    </div>
    <div class="item">
        <a href="/about">
            <i class="users icon"></i>
            关于我们
        </a>
    </div>
    <div class="item">
        <div class="ui inverted segment">
            <form action="/search" method="get">
                <div class="ui inverted transparent icon input">
                    <input type="text" placeholder="Search..." name="q" title="搜索">
                    <i class="search icon"></i>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="pusher">
    <div class="full height">
        <div class="following bar">
            <div class="ui container">
                <div class="ui large secondary network menu ">
                    <div class="item">
                        <div class="ui logo shape">
                            <div class="sides">
                                <div class="active ui side">
                                    <a href="/">
                                        <img src="{% static 'images/school.png' %}" alt="logo" class="ui image"/>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right menu">
                        <div class="view-ui item">

                        </div>
                        <a class="view-ui item" href="#" id="menu">
                            <i class="sidebar icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer class="site-info">
    <p>
        <span>Deserts' © 2016</span>
        <span class="split">|</span><span>Powered by <a href="/" target="_blank">Django</a> Design by <a
            href="https://panjunwen.com" target="_blank">Derserts</a></span>
    </p>

</footer>
<script>
    $('#menu').click(function () {
        $('.ui.sidebar').sidebar('setting', 'transition', 'overlay')
        $('.ui.sidebar').sidebar('toggle');
    });
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
